[submodule "day3"]
	path = day3
	url = https://github.com/ssanthosh010303/data3
[submodule "migrations/day1/migrations-three-tier-app"]
	path = migrations/day1/migrations-three-tier-app
	url = https://github.com/ssanthosh010303/migration-three-tier-app.git
[submodule "migrations/day1/modernization-todo-app"]
	path = migrations/day1/modernization-todo-app
	url = https://github.com/ssanthosh010303/modernization-todo-app
[submodule "migrations/day1/codecommit-to-github-migration"]
	path = migrations/day1/codecommit-to-github-migration
	url = https://github.com/ssanthosh010303/codecommit-to-github-migration
[submodule "day1"]
	path = day1
	url = https://github.com/ssanthosh010303/data1
